name: SPFx CI/CD

on:
  push:
    branches:
      - develop
      - test
      - main

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm install -g gulp

      - run: gulp bundle --ship
      - run: gulp package-solution --ship

      - uses: actions/upload-artifact@v4
        with:
          name: sppkg
          path: sharepoint/solution/*.sppkg


  deploy-dev:
    if: github.ref == 'refs/heads/develop'
    needs: build
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sppkg

      - run: npm install -g @pnp/cli-microsoft365

      - name: Login
        run: |
          m365 login --authType certificate \
            --tenant "${{ secrets.TENANT_ID }}" \
            --appId "${{ secrets.CLIENT_ID }}" \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Deploy to DEV Site App Catalog
        run: |
          FILE=$(ls *.sppkg)

          echo "Deploying $FILE to DEV"

          m365 spo app add \
            --filePath "$FILE" \
            --appCatalogUrl "https://wb0wj.sharepoint.com/sites/dev" \
            --overwrite

          m365 spo app deploy \
            --name "$FILE" \
            --appCatalogUrl "https://wb0wj.sharepoint.com/sites/dev"

      - run: m365 logout


  deploy-test:
    if: github.ref == 'refs/heads/test'
    needs: build
    runs-on: ubuntu-latest
    environment: test

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sppkg

      - run: npm install -g @pnp/cli-microsoft365

      - name: Login
        run: |
          m365 login --authType certificate \
            --tenant "${{ secrets.TENANT_ID }}" \
            --appId "${{ secrets.CLIENT_ID }}" \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Deploy to TEST Site App Catalog
        run: |
          FILE=$(ls *.sppkg)

          echo "Deploying $FILE to TEST"

          m365 spo app add \
            --filePath "$FILE" \
            --appCatalogUrl "https://wb0wj.sharepoint.com/sites/testing" \
            --overwrite

          m365 spo app deploy \
            --name "$FILE" \
            --appCatalogUrl "https://wb0wj.sharepoint.com/sites/testing"

      - run: m365 logout


  deploy-prod:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sppkg

      - run: npm install -g @pnp/cli-microsoft365

      - name: Login
        run: |
          m365 login --authType certificate \
            --tenant "${{ secrets.TENANT_ID }}" \
            --appId "${{ secrets.CLIENT_ID }}" \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Deploy to PROD Site App Catalog
        run: |
          FILE=$(ls *.sppkg)

          echo "Deploying $FILE to PROD"

          m365 spo app add \
            --filePath "$FILE" \
            --appCatalogUrl "https://wb0wj.sharepoint.com/sites/prod" \
            --overwrite

          m365 spo app deploy \
            --name "$FILE" \
            --appCatalogUrl "https://wb0wj.sharepoint.com/sites/prod"

      - run: m365 logout
