name: SPFx CI/CD

on:
  push:
    branches:
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Install Gulp
        run: npm install -g gulp

      - name: Build
        run: gulp bundle --ship

      - name: Package
        run: gulp package-solution --ship

      - name: Install M365 CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Login (Certificate)
        run: |
          m365 login --authType certificate \
            --tenant ${{ secrets.TENANT_ID }} \
            --appId ${{ secrets.CLIENT_ID }} \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Upload App
        run: |
          FILE=$(ls sharepoint/solution/*.sppkg)
          m365 spo app add \
            --filePath "$FILE" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}" \
            --overwrite

      - name: Deploy App
        run: |
          FILE_NAME=$(basename sharepoint/solution/*.sppkg)
          m365 spo app deploy \
            --name "$FILE_NAME" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}"

      - name: Logout
        run: m365 logout
