- name: Deploy and Install
  run: |
    sudo apt-get install jq -y

    FILE=$(ls sharepoint/solution/*.sppkg)
    PACKAGE_NAME=$(basename "$FILE")

    echo "Branch: $GITHUB_REF"
    echo "Package: $PACKAGE_NAME"

    # Upload to Tenant App Catalog
    m365 spo app add \
      --filePath "$FILE" \
      --overwrite

    # Deploy globally
    m365 spo app deploy \
      --name "$PACKAGE_NAME"

    # Decide target site based on branch
    if [[ "${GITHUB_REF}" == "refs/heads/develop" ]]; then
      SITE="https://wb0wj.sharepoint.com/sites/dev"
      echo "Installing on DEV"
    elif [[ "${GITHUB_REF}" == "refs/heads/test" ]]; then
      SITE="https://wb0wj.sharepoint.com/sites/testing"
      echo "Installing on TEST"
    elif [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
      SITE="https://wb0wj.sharepoint.com/sites/prod"
      echo "Installing on PROD"
    else
      echo "No matching branch"
      exit 1
    fi

    # Get App ID from catalog
    APP_ID=$(m365 spo app get \
      --name "$PACKAGE_NAME" \
      --output json | node -pe "JSON.parse(fs.readFileSync(0)).ID")

    echo "App ID: $APP_ID"

    # Try INSTALL first (first time deployment)
    if m365 spo app install --id "$APP_ID" --siteUrl "$SITE"; then
      echo "Installed successfully"
    else
      echo "Install failed, trying upgrade..."

      # If already installed, upgrade
      m365 spo app upgrade \
        --id "$APP_ID" \
        --siteUrl "$SITE"
    fi
