name: SPFx CI/CD Production

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Install Gulp CLI
        run: npm install gulp-cli -g

      - name: Build SPFx Solution
        run: |
          gulp clean
          gulp bundle --ship
          gulp package-solution --ship

      - name: Upload SPPKG Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sppkg-file
          path: sharepoint/solution/*.sppkg

      - name: Install PnP PowerShell
        shell: pwsh
        run: |
          Install-Module PnP.PowerShell -Force -Scope CurrentUser

      - name: Deploy to SharePoint App Catalog
        shell: pwsh
        run: |
          $sppkgPath = Get-ChildItem -Path "sharepoint/solution/*.sppkg" | Select-Object -First 1

          Connect-PnPOnline `
            -Url "https://wb0wj.sharepoint.com/" `
            -ClientId "${{ secrets.CLIENT_ID }}" `
            -ClientSecret "${{ secrets.CLIENT_SECRET }}" `
            -Tenant "wb0wj.onmicrosoft.com"

          Add-PnPApp `
            -Path $sppkgPath.FullName `
            -Scope Tenant `
            -Publish `
            -Overwrite
