name: SPFx Multi-Stage CI/CD

on:
  push:
    branches:
      - develop
      - test
      - main

jobs:

  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: |
          npm ci
          npm install -g gulp

      - name: Build SPFx solution
        run: |
          gulp clean
          gulp build --ship
          gulp bundle --ship
          gulp package-solution --ship

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: spfx-package
          path: sharepoint/solution/*.sppkg


  deploy-dev:
    if: github.ref == 'refs/heads/develop'
    needs: build
    runs-on: windows-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: spfx-package

      - name: Install CLI for Microsoft 365
        run: npm install -g @pnp/cli-microsoft365

      - name: Create certificate file
        shell: pwsh
        run: |
          $bytes = [Convert]::FromBase64String("${{ secrets.CERT_BASE64 }}")
          [IO.File]::WriteAllBytes("cert.pfx", $bytes)

      - name: Login
        run: |
          m365 login --authType certificate `
            --appId "${{ secrets.CLIENT_ID }}" `
            --tenant "wb0wj.onmicrosoft.com" `
            --certificateFile "cert.pfx" `
            --password "${{ secrets.CERT_PASSWORD }}"

      - name: Deploy to DEV
        shell: pwsh
        run: |
          $package = Get-ChildItem *.sppkg | Select-Object -First 1

          m365 spo app add --filePath $package.FullName --overwrite --appCatalogScope tenant
          m365 spo app deploy --name $package.Name --appCatalogScope tenant --skipFeatureDeployment true
          m365 spo app install --name $package.Name --siteUrl https://wb0wj.sharepoint.com/sites/dev

      - name: Logout
        run: m365 logout


  deploy-test:
    if: github.ref == 'refs/heads/test'
    needs: build
    runs-on: windows-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: spfx-package

      - name: Install CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Create certificate file
        shell: pwsh
        run: |
          $bytes = [Convert]::FromBase64String("${{ secrets.CERT_BASE64 }}")
          [IO.File]::WriteAllBytes("cert.pfx", $bytes)

      - name: Login
        run: |
          m365 login --authType certificate `
            --appId "${{ secrets.CLIENT_ID }}" `
            --tenant "wb0wj.onmicrosoft.com" `
            --certificateFile "cert.pfx" `
            --password "${{ secrets.CERT_PASSWORD }}"

      - name: Deploy to TEST
        shell: pwsh
        run: |
          $package = Get-ChildItem *.sppkg | Select-Object -First 1

          m365 spo app add --filePath $package.FullName --overwrite --appCatalogScope tenant
          m365 spo app deploy --name $package.Name --appCatalogScope tenant --skipFeatureDeployment true
          m365 spo app install --name $package.Name --siteUrl https://wb0wj.sharepoint.com/sites/testing

      - name: Logout
        run: m365 logout


  deploy-prod:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: windows-latest
    environment: PROD

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: spfx-package

      - name: Install CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Create certificate file
        shell: pwsh
        run: |
          $bytes = [Convert]::FromBase64String("${{ secrets.CERT_BASE64 }}")
          [IO.File]::WriteAllBytes("cert.pfx", $bytes)

      - name: Login
        run: |
          m365 login --authType certificate `
            --appId "${{ secrets.CLIENT_ID }}" `
            --tenant "wb0wj.onmicrosoft.com" `
            --certificateFile "cert.pfx" `
            --password "${{ secrets.CERT_PASSWORD }}"

      - name: Deploy to PROD
        shell: pwsh
        run: |
          $package = Get-ChildItem *.sppkg | Select-Object -First 1

          m365 spo app add --filePath $package.FullName --overwrite --appCatalogScope tenant
          m365 spo app deploy --name $package.Name --appCatalogScope tenant --skipFeatureDeployment true
          m365 spo app install --name $package.Name --siteUrl https://wb0wj.sharepoint.com/sites/prod

      - name: Logout
        run: m365 logout
