name: SPFx Stage Promotion Pipeline

on:
  push:
    branches:
      - develop
      - test
      - main

jobs:
  build-and-promote:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: |
          npm install
          npm install -g gulp

      - run: gulp bundle --ship
      - run: gulp package-solution --ship

      - run: npm install -g @pnp/cli-microsoft365

      - name: Login
        run: |
          m365 login --authType certificate \
            --tenant "${{ secrets.TENANT_ID }}" \
            --appId "${{ secrets.CLIENT_ID }}" \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Deploy and Install
        run: |
          FILE=$(ls sharepoint/solution/*.sppkg)
          PACKAGE_NAME=$(basename "$FILE")

          echo "Branch: $GITHUB_REF"
          echo "Package: $PACKAGE_NAME"

          m365 spo app add \
            --filePath "$FILE" \
            --overwrite

          m365 spo app deploy \
            --name "$PACKAGE_NAME"

          if [[ "${GITHUB_REF}" == "refs/heads/develop" ]]; then
            SITE="https://wb0wj.sharepoint.com/sites/dev"
            echo "Installing to DEV"
          elif [[ "${GITHUB_REF}" == "refs/heads/test" ]]; then
            SITE="https://wb0wj.sharepoint.com/sites/testing"
            echo "Installing to TEST"
          elif [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            SITE="https://wb0wj.sharepoint.com/sites/prod"
            echo "Installing to PROD"
          fi

          m365 spo app install \
            --name "$PACKAGE_NAME" \
            --siteUrl "$SITE"

      - run: m365 logout
