name: SPFx CI/CD

on:
  push:
    branches:
      - develop
      - test
      - main 

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Install Gulp
        run: npm install -g gulp

      - name: Build
        run: gulp bundle --ship

      - name: Package
        run: gulp package-solution --ship

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sppkg
          path: sharepoint/solution/*.sppkg


  deploy-dev:
    if: github.ref == 'refs/heads/develop'
    needs: build
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sppkg

      - name: Install M365 CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Login
        run: |
          m365 login --authType certificate \
            --tenant "${{ secrets.TENANT_ID }}" \
            --appId "${{ secrets.CLIENT_ID }}" \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Deploy to DEV
        run: |
          FILE=$(ls *.sppkg)
          m365 spo app add \
            --filePath "$FILE" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}" \
            --overwrite

          m365 spo app deploy \
            --name "$FILE" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}"

      - run: m365 logout


  deploy-test:
    if: github.ref == 'refs/heads/test'
    needs: build
    runs-on: ubuntu-latest
    environment: test

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sppkg

      - name: Install M365 CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Login
        run: |
          m365 login --authType certificate \
            --tenant "${{ secrets.TENANT_ID }}" \
            --appId "${{ secrets.CLIENT_ID }}" \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Deploy to TEST
        run: |
          FILE=$(ls *.sppkg)
          m365 spo app add \
            --filePath "$FILE" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}" \
            --overwrite

          m365 spo app deploy \
            --name "$FILE" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}"

      - run: m365 logout


  deploy-prod:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sppkg

      - name: Install M365 CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Login
        run: |
          m365 login --authType certificate \
            --tenant "${{ secrets.TENANT_ID }}" \
            --appId "${{ secrets.CLIENT_ID }}" \
            --certificateBase64Encoded "${{ secrets.CERTIFICATE_BASE64 }}" \
            --password "${{ secrets.CERTIFICATE_PASSWORD }}"

      - name: Deploy to PROD
        run: |
          FILE=$(ls *.sppkg)
          m365 spo app add \
            --filePath "$FILE" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}" \
            --overwrite

          m365 spo app deploy \
            --name "$FILE" \
            --appCatalogUrl "${{ secrets.APP_CATALOG_URL }}"

      - run: m365 logout
